<component name="libraryTable">
  <library name="springframework.spring.web" type="repository">
    <properties maven-id="org.springframework:spring-web:6.1.10" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-web-6.1.10.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-6.1.10.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-6.1.10.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jcl-6.1.10.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/micrometer-observation-1.12.7.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/micrometer-commons-1.12.7.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>